/* style pour toutes les pages des documents */
body{
    font-family:georgia, serif;
    background: center no-repeat url("../Image/fond.png");
    font-size:large;
}

h2 {
    color:red;
}

h1,h2,ol{
    text-align:center;
}
